REACT_APP_WEBSITE_NAME=
REACT_APP_WEBSITE_DESCRIPTION=
REACT_APP_DB_NAME=local_storage_db_name
REACT_APP_OFFLINE_MODE=true_or_false_omitting_defaults_to_false
REACT_APP_BACKEND_URL=
REACT_APP_GOOGLE_TRACKING_ID=
