PUBLIC_DB_NAME=database_name
PUBLIC_REMOTE_DB=remote_database_url
PUBLIC_GA_TAG=google_analytics_tag
PUBLIC_SYNCED=true_or_false_to_toggle_remote_sync
PUBLIC_AUTH0_DOMAIN=auth0_domain
PUBLIC_AUTH0_CLIENT=auth0_client