VITE_DB_NAME=database_name
VITE_REMOTE_DB=remote_database_url
VITE_GA_TAG=google_analytics_tag
VITE_SYNCED=true_or_false_to_toggle_remote_sync
VITE_AUTH0_DOMAIN=auth0_domain
VITE_AUTH0_CLIENT=auth0_client
VITE_SENTRY_DSN=sentry_dsn
VITE_PAGE_LIMIT=pagination_limit