.List {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.List:empty:before {
  content: attr(data-empty-message);
  padding: 1rem;
  color: var(--gray);
  font-weight: bold;
  font-size: 2rem;
}

.List li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.List li:hover {
  background: var(--gray-light);
}

.List p {
  margin-right: 1rem;
  flex: 1;
  cursor: pointer;
}

.List p[data-completed] {
  text-decoration: line-through;
  color: var(--gray);
}

.List button {
  margin-left: 1rem;
}

.delete {
  --icon: var(--icon-x);
  --button-bg: var(--red);
}

.edit {
  --icon: var(--icon-edit);
  --button-bg: var(--brand-color);
}
