.Form {
  --input-size: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--white);
}

.Form-input {
  --color: var(--brand-color);
  flex: var(--input-size);
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem;
  border: none;
  border-bottom: 5px solid var(--color);
  resize: vertical;
}

.Form-input:focus {
  --color: var(--black);
  background: var(--color);
  color: var(--white);
  outline: none;
}

.Form button {
  --background: var(--black);
  flex: 1;
  background: var(--background);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.Form button:hover,
.Form button:focus {
  --background: var(--brand-color);
}
