.Wrapper {
  display: flex;
}

.Form {
  --input-height: 70vh;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
  flex: 100%;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.Controls {
  display: flex;
  align-items: center;
}

.Input {
  composes: Input from "../shared.css";
  transition: min-height 0.3s var(--ease);
}

.Submit,
.Reset,
.Toggle {
  composes: Button from "../shared.css";
}

.Submit,
.Reset {
  white-space: nowrap;
  padding: 1rem;
}

.Submit {
  flex: 1;
}

.Reset {
  --button-bg: var(--black);
}

.Toggle {
  margin: 2rem 2rem 2rem auto;
  border-radius: 0.3rem;
}
