[data-expanded="true"] {
  --input-height: 10rem;
}

.Form {
  --toggle-icon: var(--icon-expand);
  --border: 1px solid var(--gray-light);
  display: flex;
  flex-flow: column;
  margin: 0;
  background: var(--white);
  position: relative;
}

[data-expanded="true"] {
  --input-height: 10rem;
  --toggle-icon: var(--icon-compress);
}

.Input {
  composes: Input from "../shared.css";
  border-top: var(--border);
}

.Toggle,
.Submit {
  composes: Button from "../shared.css";
}

.Toggle {
  --button-bg: var(--black);
  position: absolute;
  top: 100%;
  right: 0;
  padding: 1rem;
}

.Submit {
  padding: 1rem 2rem;
  white-space: nowrap;
}

@media screen and (min-width: 70rem) {
  .Form {
    padding: 0 1rem 1rem;
    background: var(--gray-light);
  }

  .Input {
    --input-height: 20rem;
    border-top: none;
  }

  .Toggle {
    display: none;
  }
}
