.Form {
  --input-size: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background: var(--white);
}

.Input {
  composes: Input from "../App.css";
  --border-color: var(--brand-color);
  flex: var(--input-size);
}

.Input[data-expanded="true"] {
  --input-height: 10rem;
}

.Button {
  composes: Button from "../App.css";
  --background: var(--black);
  flex: 1;
  background: var(--background);
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.Input:hover,
.Input:focus {
  --background: var(--brand-color);
}
