.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--gray-light);
}

.Footer {
  padding: 1rem;
  margin-top: auto;
}

.Logo {
  margin: 0;
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: transparent;
  background: var(--logo) no-repeat center center/contain;
}

.HeaderContent {
  display: flex;
  align-items: center;
}
