.List {
  --border-color: var(--gray-light);
  list-style: none;
  padding: 0;
  margin: 0;
}

.List:empty {
  padding: 1rem;
  background: var(--gray-light);
  color: var(--gray);
}

.List:empty:before {
  content: attr(data-empty-message);
  font-weight: bold;
  font-size: 2rem;
}

.ListItem {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.ListItem:hover {
  background: var(--gray-light);
}

.ListItem[data-loading="true"]:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    256deg,
    var(--white),
    var(--brand-color),
    var(--white)
  );
  background-size: 300% 300%;
  z-index: 4;
  animation: pulse 2s infinite ease-in;
}

.ListTitle {
  color: var(--brand-color);
  padding: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

@keyframes pulse {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

.ListContent,
.ListForm {
  flex: 1;
}

.ListContent {
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
}

.ListContent[data-completed] {
  color: var(--gray);
  filter: grayscale(100%);
}

.ListForm {
  display: flex;
}

.ListInput {
  composes: Input from "../components/form.module.css";
  flex: 1;
}

.ListSave,
.ListCancel {
  composes: Button-icon from "../shared.css";
  margin-left: 1rem;
}

.ListSave {
  --icon: var(--icon-check);
  --button-bg: var(--green);
}

.ListCancel {
  --button-bg: var(--red);
  --icon: var(--icon-x);
}

.ListDelete {
  composes: Button-icon from "../shared.css";
  --button-bg: var(--red);
  --icon: var(--icon-trash);
  --icon-size: 0.7rem;
  order: -1;
}

.ListCheckbox {
  --color: var(--brand-color);
  --background: var(--white);
  --checkbox-size: 1.3rem;
  display: flex;
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0 0 0 auto;
}

.ListCheckbox:hover {
  --background: var(--brand-color);
}

.ListCheckbox:checked {
  --background: var(--gray);
  --color: var(--background);
}

.ListCheckbox:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 3px solid var(--color);
  border-radius: 2px;
}

.ListControls {
  flex: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
