.Wrapper {
  --header-color: var(--brand-color);
  --transition: all 0.4s var(--ease);
}

.List {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: calc(var(--list-height) * 2);
  transition: var(--transition);
}

.List:empty {
  display: var(--empty-display, block);
  padding: 1rem;
  background: var(--gray-light);
  color: var(--gray);
}

.List:empty:before {
  content: attr(data-empty-message);
  font-weight: bold;
  font-size: 2rem;
}

.ListItem {
  display: flex;
  flex-flow: column;
  border-bottom: var(--border);
}

.ListItem::before {
  content: attr(data-updated);
  margin: 0.5rem 1rem;
  font-size: 0.8em;
  color: var(--gray);
}

.ListTitle {
  composes: visually-hidden from "../index.css";
}

@keyframes pulse {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

.ListContent {
  line-height: 1.5;
  margin: 0 1rem 1rem;
  flex: 1;
  overflow: auto;
}

.ListContent :is(h1, h2, h3, h4) {
  margin-top: 0;
}

.ListContent pre {
  max-width: 90vw; /* To prevent page overflow */
}

.ListContent a {
  word-break: break-all;
}

.ListContent[data-completed] {
  color: var(--gray);
  filter: grayscale(100%);
}

.ListForm {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.ListInput {
  composes: Input from "../components/form.module.css";
  flex: 1;
}

.ListInput[data-expanded="true"] {
  --input-height: 12rem;
}

.ListEdit,
.ListDelete {
  --icon-size: 0.8rem;
  composes: Button-icon from "../shared.css";
}

.ListEdit {
  --icon: var(--icon-edit);
  --button-bg: var(--yellow);
  margin: 0 2rem 0 auto;
}

.ListDelete {
  --button-bg: var(--red);
  --icon: var(--icon-trash);
  order: -1;
}

.ListCheckbox {
  --color: var(--brand-color);
  --background: var(--white);
  --checkbox-size: 1.3rem;
  display: flex;
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  order: 1;
}

.ListCheckbox:checked,
.ListCheckbox:hover {
  --background: var(--brand-color);
}

.ListCheckbox:disabled {
  --color: var(--gray);
  --background: var(--color);
}

.ListCheckbox:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 3px solid var(--color);
  border-radius: 2px;
}

.ListControls {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: var(--border);
}
