.List {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.List:empty:before {
  content: attr(data-empty-message);
  padding: 1rem;
  color: var(--gray);
  font-weight: bold;
  font-size: 2rem;
}

.List-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.List-item:hover {
  background: var(--gray-light);
}

.List-content,
.List form {
  flex: 1;
}

.List-content,
.List-input {
  font-size: 1rem;
  margin-left: 1rem;
}

.List-content {
  cursor: pointer;
  line-height: 1.5;
}

.List-content[data-completed] {
  text-decoration: line-through;
  color: var(--gray);
}

.List form {
  display: flex;
  align-items: center;
}

.List-input {
  font-family: inherit;
  flex: 1;
  padding: 0.5rem;
  border: none;
  background: none;
  box-shadow: 0 5px 0 0 var(--brand-color);
  resize: vertical;
}

.List button {
  margin-left: 1rem;
}

.List input[type="checkbox"] {
  --color: var(--brand-color);
  --background: var(--white);
  position: relative;
}

.List input[type="checkbox"]:hover,
.List input[type="checkbox"]:checked {
  --background: var(--brand-color);
}

.List input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 3px solid var(--color);
  border-radius: 2px;
}

.delete,
.cancel {
  --button-bg: var(--red);
}

.delete {
  --icon: var(--icon-trash);
  mask-size: 80%; /* To match other icons */
}

.save {
  --icon: var(--icon-check);
  --button-bg: var(--green);
}

.cancel {
  --icon: var(--icon-x);
}
