.List {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.List:empty:before {
  content: attr(data-empty-message);
  padding: 1rem;
  color: var(--gray);
  font-weight: bold;
  font-size: 2rem;
}

.ListItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.ListItem:hover {
  background: var(--gray-light);
}

ListItem[data-loading]:before {
  content: "";
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: linear-gradient(256deg, var(--white), var(--brand-color), var(--white));
  background-size: 300% 300%;
  z-index: 4;
  animation: pulse 2s infinite ease-in;
}

@keyframes pulse {
  from {
      background-position: 0% 100%;
  } to {
      background-position: 100% 0%;
  }
 }

.ListContent,
.ListForm {
  flex: 1;
}

.ListContent,
.ListInput {
  font-size: 1rem;
  margin-left: 1rem;
}

.ListContent {
  cursor: pointer;
  line-height: 1.5;
}

.ListContent[data-completed] {
  text-decoration: line-through;
  color: var(--gray);
}

.ListForm {
  display: flex;
  align-items: center;
}

.ListInput {
  composes: Input from "../App.css";
  flex: 1;
}

.List button {
  margin-left: 1rem;
}

.ListCheckbox {
  --color: var(--brand-color);
  --background: var(--white);
  --checkbox-size: 1.5em;
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

.ListCheckbox:hover {
  --background: var(--brand-color);
}

.ListCheckbox:checked {
  --background: var(--gray);
  --color: var(--background);
}

.ListCheckbox:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 3px solid var(--color);
  border-radius: 2px;
}
