.App,
.App > div {
  height: inherit;
}

.App > div {
  display: flex;
  flex-flow: column;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.SectionTitle {
  padding: 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.Button {
  padding: 0.5rem 1rem;
  background: var(--button-bg, var(--brand-color));
  border: none;
  font-size: 1rem;
}

.Button:disabled {
  --button-bg: var(--gray);
}

.Button-icon {
  --icon-size: 1em;
  --button-bg: var(--brand-color);
  padding: var(--icon-size);
  width: 0;
  height: 0;
  overflow: hidden;
  mask: var(--icon) no-repeat center center/contain;
  background: var(--button-bg);
  color: transparent;
  border: none;
}

.Button-icon:hover {
  --button-bg: var(--black);
}

.clear {
  --icon: var(--icon-trash);
  --button-bg: var(--red);
}

.sync {
  --icon: var(--icon-sync);
}

.delete,
.cancel {
  --button-bg: var(--red);
}

.delete {
  --icon: var(--icon-trash);
  mask-size: 80%; /* To match other icons */
}

.save {
  --icon: var(--icon-check);
  --button-bg: var(--green);
}

.cancel {
  --icon: var(--icon-x);
}

.github {
  --icon: var(--icon-github);
}

.Input {
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem;
  border: none;
  border-bottom: 5px solid var(--border-color, var(--black));
  resize: vertical;
}

.Input:focus {
  --border-color: var(--black);
}
