@font-face {
	font-family: 'Dosis';
	src: url('../src/lib/assets/fonts/Dosis-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 669;
	font-stretch: 75% 125%;
	font-style: normal bold;
	font-display: swap;
}

:root {
	--primary: hsla(96, 76%, 46%, 1);
	--white: hsl(0, 0%, 99%);
	--black: hsl(0, 0%, 5%);
	--gray: hsl(210, 11%, 71%);
	--gray-light: hsl(210, 11%, 92%);
	--red: hsl(0, 100%, 71%);
	--yellow: hsl(44, 95%, 56%);
	--font: 'Dosis', sans-serif;
	--link-color: var(--primary);
	--border: 1px solid var(--gray-light);
	--ease: cubic-bezier(0.65, 0.05, 0.36, 1);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font);
	background-color: var(--white);
	color: var(--black);
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
