.App-Content {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.SectionTitle {
  padding: 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.Button,
.Button-icon {
  padding: 0.5rem 1rem;
  background: var(--button-bg, var(--brand-color));
  color: var(--button-color, var(--white));
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.Button:disabled {
  --button-bg: var(--gray);
}

.Button-icon {
  --icon-size: 1em;
  --button-bg: var(--brand-color);
  --button-color: transparent;
  padding: var(--icon-size);
  width: 0;
  height: 0;
  overflow: hidden;
  mask: var(--icon) no-repeat center center/contain;
}

.Button-icon:hover {
  --button-bg: var(--black);
}

.clear {
  --icon: var(--icon-trash);
  --button-bg: var(--red);
}

.sync {
  --icon: var(--icon-sync);
}

.delete,
.cancel {
  --button-bg: var(--red);
}

.delete {
  --icon: var(--icon-trash);
  mask-size: 80%; /* To match other icons */
}

.save {
  --icon: var(--icon-check);
  --button-bg: var(--green);
}

.cancel {
  --icon: var(--icon-x);
}

.github {
  --icon: var(--icon-github);
}

.logout {
  border-radius: 5px;
  text-transform: lowercase;
}

.Input {
  color: var(--input-color);
  background: var(--input-background);
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 5px solid var(--border-color, var(--black));
  resize: vertical;
  height: var(--input-height);
}

.Input:focus {
  --border-color: var(--black);
  --input-background: var(--black);
  --input-color: var(--white);
}
