.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "form" "footer";
  grid-template-rows: min-content auto min-content max-content;
  align-items: start;
}

.Layout > form {
  grid-area: form;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.LayoutContent {
  grid-area: content;
}

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--gray-light);
}

.Footer {
  grid-area: footer;
  padding: 1rem;
  color: var(--gray);
}

.Logo {
  margin: 0;
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: transparent;
  background: var(--logo) no-repeat center center/contain;
}

.HeaderContent {
  display: flex;
  align-items: center;
}

.Hint {
  margin: 0 0.5rem;
  text-decoration: none;
}

.Logout {
  composes: Button from "./shared.css";
  border-radius: 3px;
  text-transform: lowercase;
}

@media screen and (min-width: 70rem) {
  .Layout {
    grid-template-areas: "header header" "content form" "content ." "footer footer";
    grid-template-rows: min-content min-content auto min-content;
    grid-template-columns: 2fr minmax(20rem, 1fr);
  }

  .Layout > form {
    top: 0;
    padding: 0 1rem 1rem;
    background: var(--gray-light);
  }

  .LayoutContent {
    margin-bottom: 2rem;
  }
}
