:root {
  --space: 1.25rem;
  --half-space: calc(var(--space) / 2);
  --black: hsl(0, 0%, 3%);
  --white: hsl(0, 0%, 96%);
  --gray: hsl(0, 0%, 63%);
  --light-gray: hsl(0, 0%, 83%);
  --red: hsl(0, 72%, 49%);
  --green: hsl(146, 72%, 42%);
  --primary: hsl(208, 76%, 61%);
  --border: 3px;
  --border-thin: 1px;
  --font-size: 2.1vh;
  --size-1: 1rem;
  --size-2: 1.25rem;
  --size-3: 1.56rem;
}

html {
  font-size: var(--font-size);
}

.App {
  color: var(--black);
  background: var(--white);
  display: flex;
  flex-flow: column;
}

.App-header {
  border-bottom: var(--border-thin) solid var(--light-gray);
}

.App-heading {
  margin: 0;
  padding: var(--space);
}

.App-form {
  padding: var(--space);
  display: flex;
}

.App-form label span {
  display: none;
}


.App-form label {
  flex: 1;
  display: flex;
}

.App-form input {
  margin: 0;
  padding: var(--half-space);
  flex: 1;
  border: none;
  border-bottom: var(--border) solid var(--primary);
  font-size: var(--size-2);
}

.App-form button,
.Todo button {
  border: none;
  background: var(--primary);
  color: var(--white);
  padding: var(--half-space);
  font-size: var(--size-1);
}

.App-form button {
  margin: 0;
}

.Todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Todo {
  display: flex;
  align-items: center;
  margin: var(--space);
  font-size: var(--size-2);
  padding: var(--half-space);
}

.Todo:hover {
  background: var(--light-gray);
}

.Todo[data-done="true"] .Todo-title {
  text-decoration: line-through;
  color: var(--gray);
}

.Todo button {
  margin-left: auto;
}

.Todo-title {
  flex: 1;
  cursor: pointer;
}

.Todo-placeholder {
  padding: var(--space);
  font-size: var(--size-2);
  font-weight: bold;
  margin: 0;
  color: var(--gray);
}

.App-notification {
  --color: var(--white);
  --background: var(--black);
  margin: 0;
  padding: var(--space);
  color: var(--color);
  background: var(--background);
}

.App-notification.error {
  --background: var(--red);
}

.App-notification.success {
  --background: var(--green);
}

@media (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
  :root {
    --font-size: 1.2vw;
  }
}
