.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "form" "footer";
  grid-template-rows: min-content auto min-content max-content;
  align-items: start;
}

.LayoutForm {
  grid-area: form;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.LayoutContent {
  grid-area: content;
}

.Header,
.Nav,
.OfflineControls,
.Footer {
  display: flex;
}

.Header {
  grid-area: header;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--white);
}

.Nav {
  flex: 100%;
  border-top: 1px solid var(--gray-light);
}

.Footer {
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  padding: 1rem;
  background: var(--gray-light);
  color: var(--gray);
}

.Github {
  --icon: var(--icon-github);

  composes: Button-icon from "./shared.css";
}

.Logo,
.OfflineControls,
.Logout {
  margin: 1rem;
}

.Logo {
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: transparent;
  background: var(--logo) no-repeat center center/contain;
}

.Hint {
  margin: 0 1rem;
  text-decoration: none;
}

.Logout {
  composes: Button from "./shared.css";
  border-radius: 3px;
  text-transform: lowercase;
}

.Loading {
  grid-area: content;
  height: 100%;
}

.OfflineControls {
  margin-left: auto;
}

.ImportForm {
  margin: 0 1rem;
  align-items: center;
}

.ImportForm input {
  display: none;
}

.NavButton {
  color: var(--brand-color);
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  transition: 0.3s var(--ease);
  white-space: nowrap;
}

.NavButton:first-child {
  border-right: 1px solid var(--gray-light);
}

.NavButton:disabled {
  color: var(--black);
  flex: 1;
  font-weight: normal;
}

.Export {
  composes: Button-icon from "./shared.css";
  --icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 22c0.828 0 1.58-0.337 2.121-0.879s0.879-1.293 0.879-2.121v-11c0-0.256-0.098-0.512-0.293-0.707l-5-5c-0.181-0.181-0.431-0.293-0.707-0.293h-11c-0.828 0-1.58 0.337-2.121 0.879s-0.879 1.293-0.879 2.121v14c0 0.828 0.337 1.58 0.879 2.121s1.293 0.879 2.121 0.879zM8 20v-6h8v6zM6 4v4c0 0.552 0.448 1 1 1h8c0.552 0 1-0.448 1-1s-0.448-1-1-1h-7v-3h7.586l4.414 4.414v10.586c0 0.276-0.111 0.525-0.293 0.707s-0.431 0.293-0.707 0.293h-1v-7c0-0.552-0.448-1-1-1h-10c-0.552 0-1 0.448-1 1v7h-1c-0.276 0-0.525-0.111-0.707-0.293s-0.293-0.431-0.293-0.707v-14c0-0.276 0.111-0.525 0.293-0.707s0.431-0.293 0.707-0.293z"></path></svg>');
}

.Import {
  composes: Button-icon from "./shared.css";
  --icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23 19v-11c0-0.828-0.337-1.58-0.879-2.121s-1.293-0.879-2.121-0.879h-8.465l-1.703-2.555c-0.182-0.27-0.486-0.445-0.832-0.445h-5c-0.828 0-1.58 0.337-2.121 0.879s-0.879 1.293-0.879 2.121v14c0 0.828 0.337 1.58 0.879 2.121s1.293 0.879 2.121 0.879h16c0.828 0 1.58-0.337 2.121-0.879s0.879-1.293 0.879-2.121zM21 19c0 0.276-0.111 0.525-0.293 0.707s-0.431 0.293-0.707 0.293h-16c-0.276 0-0.525-0.111-0.707-0.293s-0.293-0.431-0.293-0.707v-14c0-0.276 0.111-0.525 0.293-0.707s0.431-0.293 0.707-0.293h4.465l1.703 2.555c0.192 0.287 0.506 0.443 0.832 0.445h9c0.276 0 0.525 0.111 0.707 0.293s0.293 0.431 0.293 0.707z"></path></svg>');
}
