:root {
  --white: hsl(0, 0%, 99%);
  --black: hsl(0, 0%, 5%);
  --gray: hsl(0, 0%, 65%);
  --font: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-family: var(--font);
}
