:root {
  --brand-color: hsl(208, 76%, 61%);
  --white: hsl(0, 0%, 99%);
  --black: hsl(0, 0%, 5%);
  --gray: hsl(210, 11%, 71%);
  --gray-light: hsl(210, 11%, 96%);
  --red: hsl(0, 100%, 71%);
  --font: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-family: var(--font);
}
