.Wrapper {
  --border-radius: 3px;
  --logo-size: 3rem;
  --form-width: 30rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2rem;
}

.Form,
.Controls {
  display: flex;
  flex-flow: column;
}

.Title {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Title::before {
  content: "";
  background: var(--logo) no-repeat center center/contain;
  padding: var(--logo-size);
  margin: 0 1rem 1rem;
  box-shadow: 0 2px 4px var(--gray), 2px 0 6px var(--gray);
  border-radius: 6px;
}

.Form {
  padding: 1rem;
}

.Controls {
  margin: 1rem 0;
}

.Input {
  composes: Input from "./App.css";
  --border-color: var(--brand-color);
  --input-background: var(--gray-light);
  margin-bottom: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.Login {
  composes: Button from "./App.css";
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--white);
  font-weight: bold;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 50rem) {
  .Wrapper {
    --logo-size: 6rem;
    flex-flow: row wrap;
    align-items: center;
  }

  .Title {
    flex: 0 50%;
  }

  .Form {
    flex: 0 var(--form-width);
  }
}
