.Button,
.Button-icon {
  padding: 0.5rem 1rem;
  background: var(--button-bg, var(--brand-color));
  color: var(--button-color, var(--white));
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.Button:disabled {
  --button-bg: var(--gray);
}

.Button-icon {
  --icon-size: 1rem;
  --button-bg: var(--brand-color);
  --button-color: transparent;
  padding: var(--icon-size);
  width: 0;
  height: 0;
  overflow: hidden;
  mask: var(--icon) no-repeat center center/contain;
}

.Button-icon:hover {
  --button-bg: var(--black);
}

.Input {
  color: var(--input-color);
  background: var(--input-background);
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 5px solid var(--border-color, var(--black));
  resize: vertical;
  height: var(--input-height);
}

.Input:focus {
  --border-color: var(--black);
  --input-background: var(--black);
  --input-color: var(--white);
}
