.Button {
  --button-bg: var(--brand-color);
  padding: 0.5rem 1rem;
  background: var(--button-bg);
  color: var(--button-color, var(--white));
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.Button:hover {
  --button-bg: var(--black);
}

.Button:disabled {
  --button-bg: var(--gray);
}

.Button-icon {
  --icon-size: 1rem;
  --button-color: transparent;
  composes: Button;
  padding: var(--icon-size);
  width: 0;
  height: 0;
  overflow: hidden;
  mask: var(--icon) no-repeat center center/contain;
}

.Input {
  color: var(--input-color);
  background: var(--input-background, var(--white));
  font-size: 1rem;
  padding: 1rem;
  border: none;
  resize: vertical;
  min-height: var(--input-height);
}
